@{
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignIntManager
@inject UserManager<IdentityUser> UserManager
@model Masterburialsummary3

<tr>
    <td><a asp-controller="Home" asp-action="Info" asp-route-id="@Model.id">@Model.burialid</a></td>
    <td>@Model.sex</td>
    <td>@Model.area</td>
    <td>@Model.ageatdeath</td>
    <td>@Model.headdirection</td>
    <td>@Model.haircolor</td>
    <td>@Model.depth</td>
    <td>@Model.color</td>
    <td>@Model.structure</td>
    <td>@Model.textilefunction</td>
    <td>@Model.femur</td>
    @if (SignInManager.IsSignedIn(User))
    {
        <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.id">Edit</a></td>
        <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@Model.id">Delete</a></td>
    }
</tr>




<!--<div class="card card-outline-primary m-1 p-1">
    <div class="bg-light p-1">
        <h4>
            Title: @Model.depth
            <span class="badge bg-info" style="float:right">
                <small>ID:@Model.id</small>
            </span>
        </h4>
    </div>
    <div class="card-text p-1">Sex: @Model.sex</div>
    <div class="card-text p-1">Age at Death: @Model.ageatdeath</div>
    <div class="card-text p-1">Head Direction: @Model.headdirection</div>
    <div class="card-text p-1">Hair Color: @Model.haircolor</div>
    <div class="card-text p-1">Adult: </div>
    <div class="card-text p-1">Lenth: @Model.length</div>
    <br />-->
@*<form method="post" asp-page="/Shop">
        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnURL" value="@ViewContext.HttpContext.Request.PathAndQuery()" />


        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Purchase</button>
        </span>
    </form>*@
<!--</div>-->
